In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(9).reshape(3,3), index=['One','Two','Three'], columns=['First','Second','Third'])
df

       First  Second  Third
One        0       1      2
Two        3       4      5
Three      6       7      8

In [4]:
df = df.drop(['Three'])
del df['Third']
df

     First  Second
One      0       1
Two      3       4

In [12]:
df['First'] = df['First'].apply(lambda x: 6 if x>=0 else 2)
df

     First  Second
One      6       1
Two      6       4